<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create transport</title>
  <link href="/static/css/left-navigation-and-top-blocks.css" th:href="@{/css/left-navigation-and-top-blocks.css}"
        rel="stylesheet" />
  <link href="/static/css/transport/transport.css" th:href="@{/css/transport/transport.css}"
        rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/homePage :: left_navigation_menu}"></div>
<div th:insert="~{fragments/homePage :: top-three-blocks}"></div>
<div class="top-menu" th:insert="~{fragments/transport :: menu}"></div>
<div class="table-block1">

      <form class="create-form" action="#" th:action="@{add}" th:object="${newTransport}" method="post">
        <input type="text"  field="*{brand}" name="brand" placeholder="Brand"
               required pattern="^[A-Za-z]+" title="The brand name cannot begin with a number or a symbol"/>
        <input type="text"  field="*{model}" name="model" placeholder="Model" required />
        <input type="text"  field="*{number}" name="number" placeholder="Number"
               required pattern="\d\d-[A-Z][A-Z]-\d\d\d" title="Pattern car number: 10-VB-890"/>
        <select  field="*{bodyType}" name="BodyType" required>
          <option value="Van">Van</option>
          <option value="Semitrailer">Semitrailer</option>
          <option value="Reefer">Reefer</option>
        </select>
        <input type="number" step="0.01"  lang="en_EN"  field="*{carryingCapacity}" name="carryingCapacity"
               placeholder="Capacity" required/>
        <input type="hidden"   field="*{status}" name="status" value="Free" readonly/>
        <input  class="searchBtn" type="submit" value="Create"/>
      </form>


</div>
</body>
</html>