<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transport</title>
    <link href="/static/css/left-navigation-and-top-blocks.css" th:href="@{/css/left-navigation-and-top-blocks.css}"
          rel="stylesheet" />
    <link href="/static/css/transport/transport.css" th:href="@{/css/transport/transport.css}"
          rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/homePage :: left_navigation_menu}"></div>
<div th:insert="~{fragments/homePage :: top-three-blocks}"></div>
<div class="top-menu" th:insert="~{fragments/transport :: menu}"></div>
<div class="table-block1">
    <table class="main-table">
    <tr>
        <thead>
        <th>Surname</th>
        <th>Name</th>
        <th>Family</th>
        <th>Email</th>
        <th>lokfrfr</th>
        </thead>
    </tr>
        <tbody>
        <tr>
            <td>Bush</td>
            <td>George</td>
            <td>sferfre</td>
            <td>erferf</td>
            <td>erfer</td>
        </tr>
        <tr>
            <td>Lenin</td>
            <td>Vladimir</td>
            <td>wewew</td>
            <td>erfef</td>
            <td>vdvf</td>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>