<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transport</title>
    <link href="/static/css/left-navigation-and-top-blocks.css" th:href="@{/css/left-navigation-and-top-blocks.css}"
          rel="stylesheet" />
    <link href="/static/css/transport/transport.css" th:href="@{/css/transport/transport.css}"
          rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/homePage :: left_navigation_menu}"></div>
<div th:insert="~{fragments/homePage :: top-three-blocks}"></div>
<div class="top-menu" th:insert="~{fragments/transport :: menu}"></div>
<div class="table-block1">
    <table class="main-table">
    <tr>
        <thead>
        <th>Brand</th>
        <th>Model</th>
        <th>Number</th>
        <th>Body type</th>
        <th>Carrying capacity</th>
        <th>Status</th>
        <th>Info</th>
        </thead>
    </tr>
        <tbody>
        <tr th:each="car, item: ${allTransport}">
            <td th:text="${car.brand}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.number}"></td>
            <td th:text="${car.bodyType}"></td>
            <td th:text="${car.CarryingCapacity}"></td>
            <td th:text="${car.status}"></td>
            <td><form th:action="@{'/transport/get/{id}'(id=${car.id})}"th:method="get">
                <button type="submit" >Detail</button></form></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>