<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Transport</title>
  <link href="/static/css/left-navigation-and-top-blocks.css" th:href="@{/css/left-navigation-and-top-blocks.css}"
        rel="stylesheet" />
  <link href="/static/css/transport/transport.css" th:href="@{/css/transport/transport.css}"
        rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/homePage :: left_navigation_menu}"></div>
<div th:insert="~{fragments/homePage :: top-three-blocks}"></div>
<div class="top-menu" th:insert="~{fragments/transport :: menu}"></div>
<div class="table-block1">
  <table class="main-table">
    <tr>
      <thead>
      <th>Brand</th>
      <th>Model</th>
      <th>Number</th>
      <th>Body type</th>
      <th>Carrying capacity</th>
      <th>Status</th>
      </thead>
    </tr>
    <tbody>
    <tr>
      <td th:text="${showDetailTransport.brand}"></td>
      <td th:text="${showDetailTransport.model}"></td>
      <td th:text="${showDetailTransport.number}"></td>
      <td th:text="${showDetailTransport.bodyType}"></td>
      <td th:text="${showDetailTransport.CarryingCapacity}"></td>
      <td th:text="${showDetailTransport.status}"></td>
      <td> <form th:action="@{'/transport/edit/{id}'(id=${showDetailTransport.id})}"th:method="get">
        <button type="submit" >Edit</button></form></td>
      <td><form th:action="@{'/transport/delete/{id}'(id=${showDetailTransport.id})}"th:method="get">
        <button type="submit" >Delete</button></form></td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>