<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new order</title>
  <link href="/static/css/left-navigation-and-top-blocks.css" th:href="@{/css/left-navigation-and-top-blocks.css}"
        rel="stylesheet" />
  <link href="/static/css/order/order.css" th:href="@{/css/order/order.css}"
        rel="stylesheet" />
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div th:insert="~{fragments/homePage :: left_navigation_menu}"></div>
<div th:insert="~{fragments/homePage :: top-three-blocks}"></div>
<div class="top-menu" th:insert="~{fragments/order :: order-menu}"></div>
<div class="main">
  <form class="createOrderTable" th:action="@{scheduleOrder}" th:object="${order}" method="post">
    <label> Order number</label>
    <input class="orderNumber" type="text" field="*{orderNumber}" th:value="${orderNumber}" readonly name="orderNumber"><br>
    <label>Cargo name</label>
    <input class="cargoName" type="text" field="*{cargoName}"  name="cargoName">
    <label>Cargo weight</label>
    <input id ="cargoWeight" class="cargoWeight" type="number" field="*{weight}"  min="100" name="weight">/kg<br>
    <label>Departure address</label>
    <input id="departureAddress" class="departureAddress" type="text" field="*{departureAddress}"
            name="departureAddress">
    <label>Destination address</label>
    <input id="destinationAddress" class="departureAddress" type="text" field="*{destinationAddress}"
            name="destinationAddress" onblur="destinationAddressFunc()">
    <label>Route length</label>
    <input id="routeLength" class="routeLength" type="text" field="*{routeLength}"  name="routeLength" readonly>km<br>
    <label>Departure date</label>
    <input  id="departureDate" class="departureDate" type="date"  field="*{departureDate}" name="departureDate"
            onblur="destinationDateFunction()">
    <label>Destination date</label>
    <input  id="destinationDate" class="departureDate" type="date"  field="*{destinationDate}" name="destinationDate" >
    <label>Order price</label>
    <input  id="orderPrice" class="cargoWeight" type="text" field="*{orderPrice}" name="orderPrice" readonly ><br>
    <label>Transport</label>
    <select  class="transportId" field="*{transportId}" name="transportId">
      <option selected disabled></option>
      <option   th:each="car, item: ${transportList}" th:value="${car.id}" th:text="${car.brand} + ' ' + ${car.model} +
                ' ' +[+ ${car.number}+]+ ' '+ ${car.bodyType}" >
    </select>
  </form>

</div>
<script type="text/javascript" th:src="@{/js/order/main.js}"></script>
<script type="text/javascript" th:src="@{/js/order/calendar.js}"></script>
</body>
</html>